go 1.20

toolchain go1.21.0

use (
	./api/reddit
	./api/timecamp
	./assert
	./auth
	./blob
	./bloom
	./cache
	./calendar
	./datastore
	./endpoint
	./fetch
	./file
	./fingerprint
	./merge
	./noise
	./num
	./pk
	./proto/grf
	./proto/router
	./proto/rq
	./proto/serializable
	./rr
	./rx
	./schema
	./search
	./serve
	./shell
	./sorted
	./storage/bolt
	./storage/localdisk
	./storage/memory
	./storage/redis
	./storage/sqlite
	./storage/storagetest
)
