go 1.18

use (
	./api/timecamp
	./auth
	./blob
	./bloom
	./cache
	./calendar
	./cas
	./datastore
	./fetch
	./file
	./fingerprint
	./grf
	./noise
	./num
	./pk
	./proc
	./rx
	./search
	./serve
	./shell
	./sorted
	./storage/bolt
	./storage/localdisk
	./storage/memory
	./storage/sqlite
	./storage/storagetest
)
